demo/GetNetCommerceService/wsdl/AdministrationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions targetNamespace="http://br.com.getnet.ecommerce.ws.service/" name="AdministrationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://br.com.getnet.ecommerce.ws.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://br.com.getnet.ecommerce.ws.service/" schemaLocation="AdministrationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="changeAuthenticationService">
    <part name="parameters" element="tns:changeAuthenticationService"/>
  </message>
  <message name="changeAuthenticationServiceResponse">
    <part name="parameters" element="tns:changeAuthenticationServiceResponse"/>
  </message>
  <message name="WSCommerceException">
    <part name="fault" element="tns:WSCommerceException"/>
  </message>
  <message name="changeKeysService">
    <part name="parameters" element="tns:changeKeysService"/>
  </message>
  <message name="changeKeysServiceResponse">
    <part name="parameters" element="tns:changeKeysServiceResponse"/>
  </message>
  <portType name="AdministrationService">
    <operation name="changeAuthenticationService">
      <input message="tns:changeAuthenticationService"/>
      <output message="tns:changeAuthenticationServiceResponse"/>
      <fault message="tns:WSCommerceException" name="WSCommerceException"/>
    </operation>
    <operation name="changeKeysService">
      <input message="tns:changeKeysService"/>
      <output message="tns:changeKeysServiceResponse"/>
      <fault message="tns:WSCommerceException" name="WSCommerceException"/>
    </operation>
  </portType>
  <binding name="AdministrationServicePortBinding" type="tns:AdministrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="changeAuthenticationService">
      <soap:operation soapAction="changeAuthentication"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSCommerceException">
        <soap:fault name="WSCommerceException" use="literal"/>
      </fault>
    </operation>
    <operation name="changeKeysService">
      <soap:operation soapAction="changeKeys"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSCommerceException">
        <soap:fault name="WSCommerceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AdministrationService">
    <port name="AdministrationServicePort" binding="tns:AdministrationServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

