demo/GetNetCommerceService/wsdl/CommerceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions targetNamespace="http://br.com.getnet.ecommerce.ws.service/" name="CommerceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://br.com.getnet.ecommerce.ws.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://br.com.getnet.ecommerce.ws.service/" schemaLocation="CommerceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="purchaseService">
    <part name="parameters" element="tns:purchaseService"/>
  </message>
  <message name="purchaseServiceResponse">
    <part name="parameters" element="tns:purchaseServiceResponse"/>
  </message>
  <message name="WSCommerceException">
    <part name="fault" element="tns:WSCommerceException"/>
  </message>
  <message name="authorizationService">
    <part name="parameters" element="tns:authorizationService"/>
  </message>
  <message name="authorizationServiceResponse">
    <part name="parameters" element="tns:authorizationServiceResponse"/>
  </message>
  <message name="captureService">
    <part name="parameters" element="tns:captureService"/>
  </message>
  <message name="captureServiceResponse">
    <part name="parameters" element="tns:captureServiceResponse"/>
  </message>
  <message name="cancellationService">
    <part name="parameters" element="tns:cancellationService"/>
  </message>
  <message name="cancellationServiceResponse">
    <part name="parameters" element="tns:cancellationServiceResponse"/>
  </message>
  <message name="queryDataService">
    <part name="parameters" element="tns:queryDataService"/>
  </message>
  <message name="queryDataServiceResponse">
    <part name="parameters" element="tns:queryDataServiceResponse"/>
  </message>
  <portType name="CommerceService">
    <operation name="purchaseService">
      <input message="tns:purchaseService"/>
      <output message="tns:purchaseServiceResponse"/>
      <fault message="tns:WSCommerceException" name="WSCommerceException"/>
    </operation>
    <operation name="authorizationService">
      <input message="tns:authorizationService"/>
      <output message="tns:authorizationServiceResponse"/>
      <fault message="tns:WSCommerceException" name="WSCommerceException"/>
    </operation>
    <operation name="captureService">
      <input message="tns:captureService"/>
      <output message="tns:captureServiceResponse"/>
      <fault message="tns:WSCommerceException" name="WSCommerceException"/>
    </operation>
    <operation name="cancellationService">
      <input message="tns:cancellationService"/>
      <output message="tns:cancellationServiceResponse"/>
      <fault message="tns:WSCommerceException" name="WSCommerceException"/>
    </operation>
    <operation name="queryDataService">
      <input message="tns:queryDataService"/>
      <output message="tns:queryDataServiceResponse"/>
      <fault message="tns:WSCommerceException" name="WSCommerceException"/>
    </operation>
  </portType>
  <binding name="CommerceServicePortBinding" type="tns:CommerceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="purchaseService">
      <soap:operation soapAction="purchase"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSCommerceException">
        <soap:fault name="WSCommerceException" use="literal"/>
      </fault>
    </operation>
    <operation name="authorizationService">
      <soap:operation soapAction="authorization"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSCommerceException">
        <soap:fault name="WSCommerceException" use="literal"/>
      </fault>
    </operation>
    <operation name="captureService">
      <soap:operation soapAction="capture"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSCommerceException">
        <soap:fault name="WSCommerceException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancellationService">
      <soap:operation soapAction="void"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSCommerceException">
        <soap:fault name="WSCommerceException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryDataService">
      <soap:operation soapAction="queryData"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSCommerceException">
        <soap:fault name="WSCommerceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CommerceService">
    <port name="CommerceServicePort" binding="tns:CommerceServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

